body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .28rem;
  line-height: 1.5em;
  color: #333;
}

#app {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

#wechat, #web, #android, #ios, .downloaded_tip_wrapper {
  display: none;
}

.app_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
}

.name {
  font-size: .48rem;
  margin-top: .5rem;
}

.hairline {
  width: 4rem;
  height: 1px;
  margin: .5rem 0;
  background-color: #dae2e3;
}

.buid_info, 
.update_info {
  color: #999;
  line-height: 1.5em;
}

.download_btn, 
.trust_btn {
  min-width: 4rem;
  height: .9rem;
  margin-top: .6rem;
  padding: 0 .6rem;
  border-radius: .45rem;
  font-size: .28rem;
  background-color: #32b2a7;
  color: #fff;
}

.downloaded_tip {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.downloaded_tip .loading_tip {
  display: flex;
  align-items: center;
  margin-top: .6rem;
  font-size: .32rem;
  font-weight: bold;
  color: #32b2a7;
}

.downloaded_tip .icon_loading {
  width: .58rem;
  height: .58rem;
}

/* pc web */
#web .qrcode {
  width: 160px;
  height: 160px;
  margin-bottom: 40px;
}

#web .name_wrapper {
  display: flex;
  align-items: center;
}

#web .logo {
  width: 40px;
  height: 40px;
}

#web .name {
  margin-top: 0;
  margin-left: 10px;
  font-size: 28px;
}

#web .build-info,
#web .update-info {
  font-size: 14px;
}

/* 微信提示 */
.wechat_tip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: .3rem;
  right: .2rem;
  width: 2.7rem;
  height: 1.2rem;
  border-radius: .2rem;
  background: #3ab2a7;
  color: #fff;
  font-weight: 500;
}

.wechat_tip > i {
  position: absolute;
  top: -0.2rem;
  right: .15rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #3ab2a7;
}

.wechat_tip_browser {
  font-weight: bold;
}